<h2>Test Form</h2>

<div fxLayout="row" fxLayoutGap="2em">
  <button mat-button (click)="turnOn8()">On 8</button>
  <button mat-button (click)="turnOff8()">Off 8</button>
  <mat-checkbox #onoroff8>On or Off 8</mat-checkbox>
  <button mat-button (click)="turnParameter8(onoroff8.checked)">On / Off</button>

  <button mat-button (click)="turnOn()">On</button>
  <button mat-button (click)="turnOff()">Off</button>
  <button mat-button (click)="turnOnWithEffect()">On - Effect</button>

  <mat-checkbox #onoroff>On or Off</mat-checkbox>
  <button mat-button (click)="turnParameter(onoroff.checked)">On / Off</button>
</div>
